<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Projects</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/svg/favicon.svg"/>
</head>

<body>
    {{>header}}
    <main class="main-content">
        <h2>Arnav's Projects</h2>
        <div class="card">
            <h3 class="subheader">MERN Stack</h3>
            <ul class="list">
                <li class="waves-effect"> <a href="https://coolkidbot.com" target="_blank">
                        <div class="valign-wrapper">
                            <div class="title">
                                coolkidbot<br>
                                <span>2021-2023</span>
                            </div>
                        </div>
                    </a>
                </li>
                <br>
                <li class="waves-effect"> <a href="https://arnav.guneta.com/projects/spotify-app" target="_blank">
                        <div class="valign-wrapper">
                            <div class="title">
                                Spotify App<br>
                                <span>Jan 2023</span>
                            </div>
                        </div>
                    </a>
                </li>
                <br>
                <li class="waves-effect"> <a href="https://arnav.guneta.com/projects/golf" target="_blank">
                        <div class="valign-wrapper">
                            <div class="title">
                                Golf App<br>
                                <span>Sep 2022</span>
                            </div>
                        </div>
                    </a>
                </li>
                <br>
                <li class="waves-effect"> <a href="http://weather.guneta.com" target="_blank">
                        <div class="valign-wrapper">
                            <div class="title">
                                Weather<br>
                                <span>Sep 2020</span>
                            </div>
                        </div>
                    </a>
                </li>
                <br>
                <li class="waves-effect">
                    <a href="http://dfa.guneta.com" target="_blank">
                        <div class="valign-wrapper">
                            <div class="title">
                                DFAs<br>
                                <span>Sep 2020</span>
                            </div>
                        </div>
                    </a>
                </li>
                <hr class="list-divider">
                <h3 class="subheader">Static Websites</h3>
                <li class="waves-effect">
                    <a href="http://arnav.guneta.com/projects/jchs" target="_blank">
                        <div class="valign-wrapper">
                            <div class="title">
                                JCHS Website<br>
                                <span>Aug 2016</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    {{>footer}}
</body>
</html>